$b-g-c:rgb(223, 223, 235);
$backg-color:rgb(6, 139, 95);
$body-backgd-color: rgb(174, 199, 180);
$quiz-wraper-bg-color:rgb(158, 153, 83);
$scoreCard-bg-color:rgb(242, 247, 245);
$font-s:1em sans-serif;
$text-transform:uppercase;
$button-color: blue;
